{%extends "layout.html" %}
{% block content %}
    <h1>Grades</h1>
<div class="container">
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Grade</th>
                <th scope="col">Credits</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td contenteditable="true">Enter Grade</td>
                <td contenteditable="true">Enter Credits</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td contenteditable="true">Enter Grade</td>
                <td contenteditable="true">Enter Credits</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td contenteditable="true">Enter Grade</td>
                <td contenteditable="true">Enter Credits</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td contenteditable="true">Enter Grade</td>
                <td contenteditable="true">Enter Credits</td>
            </tr>
        </tbody>
    </table>
    <button>Add New Row</button>
</div>
{% endblock %}