{%extends "layout.html" %} {% block content %}
<div class="content-section">
  <form method="POST" action="{{ url_for('password_update') }}">
    {{ form.hidden_tag() }}
    <fieldset>
      <legend>Update Password</legend>
      <div>
        {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else%}
            {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div>
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else%}
            {{ form.password(class="form-control form-control-lg") }}
        {% endif %}
      </div>
        <div>
        {{ form.new_password.label(class="form-control-label") }}
        {% if form.new_password.errors %}
            {{ form.new_password(class="form-control form-control-lg is-invalid")}}
            <div>
                {% for error in form.new_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else%}
            {{ form.new_password(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div>
        {{ form.confirm_password.label(class="form-control-label") }}
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
            <div>
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else%}
            {{ form.confirm_password(class="form-control form-control-lg") }}
        {% endif %}
      </div>
        <div>
        {{ form.password_secret.label(class="form-control-label") }}
        {% if form.password_secret.errors %}
            {{ form.password_secret(class="form-control form-control-lg is-invalid")}}
            <div>
                {% for error in form.password_secret.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else%}
            {{ form.password_secret(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div>
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock %}
